button {
background-color: magenta;
color: chartreuse;
}

button:hover {
  background-color: blue;
}

.deb {
background: purple;
color: chartreuse;
}

.deb:hover {
  background: blue;
  color: chartreuse;
}

.fed {
background: teal;
color: blue;
}

.fed:hover {
  background: navy;
  color: yellow;
}

.quit {
background: #312e39;
color: red;
}

.quit:hover {
  background: red;
  color: chartreuse;
}


.deb_window {

   background-image: linear-gradient(180deg, #5C2774, #335CC5, #637FFD);
}

.fed_window {
  background-image: linear-gradient(180deg, teal, navy);

}

.main_window {
  background-image: linear-gradient(180deg, #436AAC, #43B7B8);

}




checkbutton {

color: white;


}

.deb_view {
background: black;
color: chartreuse;

}
