button {
background-color: magenta;
color: chartreuse;
}

button:hover {
  background-color: blue;
}

.deb {
background: purple;
color: chartreuse;
}

.deb:hover {
  background: blue;
  color: chartreuse;
}

.fed {
background: teal;
color: blue;
}

.fed:hover {
  background: navy;
  color: yellow;
}

.quit {
background: #312e39;
color: red;
}

.quit:hover {
  background: red;
  color: chartreuse;
}


.deb_window {

 background-image: url("debian1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fed_window {
background-image: url("fedora1.jpg");
background-size: cover;
background-repeat: no-repeat;

}

.main_window {
background-image: url("linux1.jpg");
background-size: cover;
background-repeat: no-repeat;

}




checkbutton {

color: #ff0c00;


}

.deb_view {
background: black;
color: chartreuse;

}
