[Desktop Entry]
Name=Linux Post-install Helper
Comment=Aid in post-install Linux Desktop activities
Exec=/bin/lpih
Icon=/usr/share/icons/hicolor/512x512/apps/imperialslug.gtkproject.lpih.png
Terminal=false
Type=Application
Categories=GTK;
